@page "/Classic"
@page "/"

@inject IConfiguration Configuration
@inject IWebAssemblyHostEnvironment HostEnvironment

<PageTitle>Magic 8 Ball</PageTitle>

<h1>Magic 8 Ball (@Service)</h1>

@if (ShowMessage)
{
    <div class="alert @StatusClass">@Message</div>
    <button class="btn btn-secondary" @onclick="@ClearMessage">Reset</button>
}
else
{
    @if (Magic8BallData == null)
    {
        <p><em>Loading magic...</em></p>
    }
    else
    {
        <EditForm Model="@Magic8BallData" OnValidSubmit="AskQuestion">
            <DataAnnotationsValidator />
            <div class="form-group">
                <div>
                    <label><strong>Instructions:</strong></label>
                    <button type="button" class="btn btn-light" @onclick="@ToggleInstructions">
                        <b>@(InstructionsCollapsed ? "+" : "-")</b>
                    </button>
                </div>
                <div class="m-3 @(InstructionsCollapsed? "collapse": "")">
                    1. Type a yes/no question to ask the Magic 8 Ball.<br />
                    2. Press Enter or click the Magic 8 Ball button to ask your question.<br />
                    3. Wait while the Magic 8 Ball ponders your question, and then the answer will be displayed.<br />
                    4. (optional) Repeat the above steps to ask another question (or if you didn't like the previous answer).<br />
                </div>
            </div>
            <div class="form-group">
                <label for="question"><strong>Question:</strong></label>
                <InputText id="question" class="form-control" @bind-Value="@Magic8BallData.Question" 
                           placeholder="Enter your question for the Magic 8 Ball" onClick="this.select();" />
                <ValidationMessage For="() => Magic8BallData.Question" />
            </div>
            <div>
                <p/>
                <button @ref="SubmitButton" type="submit" class="btn btn-outline-light btn-magic8ball">
                    <img src="/images/Magic 8 Ball.png" alt="Magic 8 Ball" class="img-magic8ball @(IsBusy? "d-none": "")" />
                    <img src="/images/Rotating Magic 8 Ball.gif" alt="Magic 8 Ball" class="img-magic8ball @(IsBusy? "": "d-none")" />
                </button>
                <p/>
            </div>
            <div class="form-group">
                <label><strong>Answer:</strong></label>
                <label class="form-control @AnswerStyle">@Magic8BallData.Answer</label>
            </div>
            @*<div class="form-group">
                <label><strong>Answer Type:</strong></label>
                <label class="form-control">@Magic8BallData.Type.ToString()</label>
            </div>*@
        </EditForm>
    }
}